*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jumbo .jumbo-cont {
    height: 400px;
    background-color: #1ABC9C;
}

.riga-1 {
    padding-top: 4rem;
}

#portfolio .col-md-3, #portfolio .col-9 {
    height: 200px;
}

/* ABOUT */
/* / ABOUT */
