*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
}

header nav {
    background-color: #2C3E50;
}

header nav .navbar-brand {
    color: white;
}

.container_nav {
    flex-grow: 1;
}

header .fa-bars {
    font-size: 1.5rem;
}

/* ****************
   /  HEADER
****************** */





/* ****************
    JUMBO CONT
****************** */

#jumbo{
    background-color: #1ABC9C;
}

#jumbo .riga_1{
    flex-grow: 1;
    flex-direction: column;
}

#jumbo .riga_1 .img {
    width: 60%;
    margin: auto;
}

#jumbo .riga_1 ul {
    list-style-type: none;
    text-align: center;
}

#jumbo .riga_1 ul li {
    display: inline;
}

/* ****************
   /  JUMBO CONT
****************** */



/* ****************
    PORTFOLIO
****************** */
#portfolio img {
    width: 100%;
    height: auto;
}

/* ****************
   /  PORTFOLIO
****************** */

/* ABOUT */

#about {
    height: 300px;
    background-color: #1ABC9C;
}

/* / ABOUT */

#contact {
    height: 400px;
    background-color: lightblue;
}

footer {
    height: 200px;
}

footer .cont1 {
    height: 150px;
}

footer .cont2 {
    height: 50px;
}





/* ****************
    QUERIES
****************** */
@media screen and (max-width:767px) {

    header .nav_bar {
        width: 100% !important;
        padding: 1.5rem;
    }

    #portfolio .portfolio_cont {
        width: 100%!important;
    }

    #jumbo .jumbo-cont {
        width: 100%!important;
    }
}

/* /SMALL SCREEN */

@media screen and (min-width:992px) {
    #portfolio .riga-1 {
        width: 70%;
        margin: auto;
    }

}

@media screen and (min-width:1200px) {
    #portfolio .riga-1 {
        width: 60%;
        margin: auto;
    }
}

/* ****************
   / QUERIES
****************** */