*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin-bottom: 0;
}

header {
    color: white;
}

header .bg_header{
    background-color: #2C3E50;
}

header ul {
    list-style-type: none;
    margin-bottom: 0;
}

header ul li {
    padding: 0 0.5rem;
}
/* *********************
    HEADER
**************** */